body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 1%;
    padding: 1%;
    background:linear-gradient(to bottom, teal, blue);
}

.container {
    width: 50%;
    padding: 1px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0 20px crimson;
    margin: auto;
}

h1 {
    text-align: center;
    color: cornflowerblue;
    margin-bottom: 30px;
}

.gradient-box {
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px black;
}

.filter-gradient {
    filter: contrast(150%) brightness(120%) blur(90%);
    color: #8178ff;
    background-color:beige;
}

.linear-gradient-box {
    background: linear-gradient(to right, #78ffd6, #a8ff78);
}

.radial-gradient-box {
    background: radial-gradient(circle, #ff9a9e, #fad0c4);
}

.conic-gradient-box {
    background: conic-gradient(from 180deg, #ffecd2, #fcb69f);
}

p {
    color: cadetblue;
    line-height: 1.6;
}